body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}
.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.ctrl {
  background-color: white;
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 250px;
  border: 10px solid black;
  border-radius: 20%;
}
.start{
  display: inline-block;
  padding-top: 70px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}
.footer{
  color: white;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (max-width:991px) {
#level-title{
  line-height: 2;
  margin:  10%;
}
.footer{
  font-size: 1.5rem;
}
.btn{
   height: 200px;
   width: 200px;
}
}


